# Byte order mark (BOM) exclusion
﻿

# Dependencies
**/packages/*
!**/packages/build/
**/node_modules/

# Build results
**/bin/
**/obj/
**/Properties/

# VS
.vs/
!.vs/config/

# OneDrive
Desktop.ini

